version: '2'
services:

  eurekaserver:
    image: annamart/eureka-server:chapter3
    ports:
    - "8761:8761"

  configserver:
    image: annamart/config-server:chapter3
    ports:
      - "8888:8888"
    environment:
      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
      EUREKASERVER_PORT: 8761
      ENCRYPT_KEY: "IMSYMMETRIC"

  database:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "root"
      MYSQL_DB: "eagle_eye_local"

  licensingservice:
    image: annamart/licensing-service:chapter3
    ports:
      - "8080:8080"
    environment:
      PROFILE: "default"
      SERVER_PORT: "8080"
      CONFIGSERVER_URI: "http://configserver:8888"
      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
      EUREKASERVER_PORT:        "8761"
      DATABASESERVER_PORT:      "3306"
      CONFIGSERVER_PORT:        "8888"
      ORGSERVERNEW_PORT:        "8087"
#      ZUULSERVER_PORT:          "5555"
      ENCRYPT_KEY:       "IMSYMMETRIC"

  organizationservice:
    image: annamarti/organization-service:chapter3
    ports:
      - "8085:8085"
    environment:
      PROFILE: "default"
      SERVER_PORT: "8085"
      CONFIGSERVER_URI: "http://configserver:8888"
      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
      EUREKASERVER_PORT:        "8761"
      DATABASESERVER_PORT:      "3306"
      CONFIGSERVER_PORT:        "8888"
      ENCRYPT_KEY:       "IMSYMMETRIC"

#  orgservice-new:
#    image: annamarti/orgservice-new:chapter6
#    ports:
#      - "8087:8087"
#    environment:
#      PROFILE: "default"
#      SERVER_PORT: "8087"
#      CONFIGSERVER_URI: "http://configserver:8888"
#      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
#      EUREKASERVER_PORT:        "8761"
#      DATABASESERVER_PORT:      "5432"
#      CONFIGSERVER_PORT:        "8888"
#      ENCRYPT_KEY:       "IMSYMMETRIC"


#  specialroutes-service:
#    image: annamarti/tmx-specialroutes-service:chapter6
#    ports:
#      - "8910:8910"
#    environment:
#      PROFILE: "default"
#      SERVER_PORT: "8910"
#      CONFIGSERVER_URI: "http://configserver:8888"
#      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
#      EUREKASERVER_PORT:        "8761"
#      DATABASESERVER_PORT:      "5432"
#      CONFIGSERVER_PORT:        "8888"
#      ENCRYPT_KEY:       "IMSYMMETRIC"

#  zuulserver:
#    image: annamarti/tmx-zuulsvr:chapter6
#    ports:
#      - "5555:5555"
#    environment:
#      PROFILE: "default"
#      SERVER_PORT: "5555"
#      CONFIGSERVER_URI: "http://configserver:8888"
#      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
#      EUREKASERVER_PORT:        "8761"
#      DATABASESERVER_PORT:      "5432"
#      CONFIGSERVER_PORT:        "8888"
#      ORGSERVERNEW_PORT:        "8087"
#